alias dotfiles="/usr/bin/git --git-dir=$HOME/dotfiles --work-tree=$HOME"
alias pbcopy='xsel --clipboard --input'
alias py="python3"
alias projects="cd /home/aden/Documents/projects"
alias classes="cd /home/aden/Documents/oakland/Classes"
alias nv="nvim"
